/* main page */
.mainbgimage{
  background: url('./Assets/retrowave.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

@media only screen and ( max-width: 767px ) {
  .mainbgimage{
    height: 100vh;
    width: auto;
    background-size: contain;
    background-repeat:no-repeat;
    background-size:auto;
    background-position:center center;
  }

}

.mainheadtext{
  font-family: 'TypoGraphica';
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 18px 4px 4px rgba(16, 16, 16, 0.71);
}

.introtext{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;

}

.mainheadsubtext{
  font-family: 'TypoGraphica';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  color: #FFFFFF;
  text-shadow: 4px 0px 5px rgba(16, 16, 16, 0.71);
  margin-top: -20px;
}

/* main page end */


/* event page start */

.eventmainpage{
  /* background: #200010; */
  position: absolute;
  background: url('./Assets/grids.png');
  width: 100vw;
  background-size: contain;
  background-repeat:no-repeat;
  background-size:auto;
  background-position:center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 120;

}

@media only screen and ( max-width: 767px ) {
  .eventmainpage{
    background: url('./Assets/grids.png');
    height: 100vh;
    width: auto;
    background-size: contain;
    background-repeat:no-repeat;
    background-size:auto;
    background-position:center center;
    z-index: 120 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

}

.handsbgevnet{
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.outsideeventtext{
  position: absolute;
  top: 11rem;
  left: -7rem;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.eventheading{
  position: absolute;
  top: 60vh;
  font-family: 'TypoGraphica';
  font-weight: 400;
  font-size: 4rem;
  color: #FFFFFF;
  text-shadow: -11px 4px 250px rgba(61, 61, 61, 0.59);
}


/* event page end */

.aboutmainpage{
  background: url('./Assets/carsunbg.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and ( max-width: 767px ) {
  .aboutmainpage{
    height: 100vh;
    width: auto;
    background-size: contain;
    background-repeat:no-repeat;
    background-size:auto;
    background-position:center center;
  }

}

.aboutusheading{
  position: relative;
  top: -250px;
  font-family: 'TypoGraphica';
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  color: #000000;
}


.onegrid{
  width: 13vw;
  height: 14vh;
  border: 2px solid #FF145D;
  
}

.maincontainergrid{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto ;
  background-color: #200010;
  padding: 10px;
  filter: blur(10px);
  z-index: 100;
  position: relative;
  left: -40px;
  
}


.emptygrid{
  display: grid;
  width: 100vw;
  height: 10vh;
  background-color: #200010;
  filter: blur(10px);
  z-index: 100;
  border-bottom: 30px solid black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(to bottom, #200010 , #FF145D) 1;
}

.onegrid2{
  width: 14vw;
  height: 14vh;
  z-index: 100;
}

.maincontainergrid2{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto ;
  background-color: #813CAD;
  background: -webkit-linear-gradient(top, #200010, #813CAD);
  background: -moz-linear-gradient(top, #200010, #813CAD);
  background: linear-gradient(to bottom, #200010, #813CAD);
  padding: 10px;
  /* filter: blur(10px); */
}

.emptygrid21{
  display: grid;
  width: 100vw;
  height: 30vh;
  background-color: #813CAD;
  /* filter: blur(10px); */
}

.apply-button{
  height: 44px; 
  width : 312px
}

